$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 25px;
$row-height: 25px;
$dashboard-header-height: 64px;
$ceil-width: 120px;
$border-color: #c0c0c0;
$ceel-formula-width: 50px;
$primary-color: #3c74ff;
$column-color: #f8f9fa;
$bg-color-active: rgb(233, 233, 233);